
<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    {volist name='node_arr' id='data'}
		<h2><span class="icon-user"></span>{$data.name}</h2> 
		<ul style="display:hidden">
			{php}
				$list = get_child($data['id']);
				foreach($list as $key =>$value){
					echo '<li><a href="'.url($value["url"]).'" target="right"><span class="icon-caret-right"></span>'.$value['name'].'</a></li>';
				}
			{/php}
		</ul>     
    {/volist}
   
  </div>
