{include file="public/header" /}
<link href="__STATIC__/admin/css/node/bootstrap-3.3.4.css" rel="stylesheet">
<link href="__STATIC__/admin/css/node/bootstrap-treeview.css" rel="stylesheet">
<script src="__STATIC__/admin/js/node/bootstrap-treeview.js"></script>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong>
				<span class="icon-pencil-square-o"></span> 节点管理</strong>
		</div>
		<div class="navigate">
			<a class="button button-little bg-blue" href="">新增根节点</a>  
			<a class="button button-little bg-blue" href="">新增子节点</a> 
			<a class="button button-little bg-blue" href="">删除节点</a> 
			<a class="button button-little bg-blue" href="">发快递</a>
		</div>
		<div class="body-content">
			<form method="post" class="form-x" action="{:url('site_setting')}">
				<div class="row">
					<div class="col-sm-12">
						<label for="treeview"></label>
						<div id="treeview"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
<script src="__STATIC__/common/js/tool.js"></script>  

<script type="text/javascript">
	var get_node_api_url = "{:url('get_node_api')}"
	$.post(get_node_api_url,{},function(ret){
		data = JSON.parse(ret);
		get_tree(data);
	})

	function get_tree(data){
		var options = {
		bootstrap2: false, 
		showTags: false,
		levels: 3,
		data:data,
		};	
		$('#treeview').treeview(options);
	} 
</script>