{include file="public/header" /}
	<style>
	.uploader_class{
		border: none;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		margin-left: 0px;
		width: 109px;
		cursor: pointer;
		display: block;
		margin-top: -43px;
	}
	.uploader_button{
		display:  block;
    	margin-left: 1px;
	}
	.uploader_img{
		border:1px solid #e2e2e2;
	}
	</style>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong>
				<span class="icon-pencil-square-o"></span> 网站信息</strong>
		</div>
		<div class="body-content">
			<form method="post" class="form-x" action="{:url('site_setting')}">
				<div class="form-group">
					<div class="label">
						<label>网站标题：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_title" value="" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>网站LOGO：</label>
					</div>
					<div class="field">
						<img width="100px" class="uploader_img" src="__STATIC__/common/img/uploader.png" alt="">
						<input style="display:none" value="" type="text" id="logo_url" name="site_logo" />
						<input type="button" class="button bg-blue margin-left uploader_button"  value="+ 浏览上传">
						<input type="file" class="button bg-blue margin-left uploader_class" id="image1" value="">
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>网站域名：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_url" value="" />
					</div>
				</div>
				<div class="form-group" style="display:none">
					<div class="label">
						<label>副加标题：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_title_fu" value="" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>网站关键字：</label>
					</div>
					<div class="field">
						<textarea class="input" name="site_keyword" style="height:80px"></textarea>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>网站描述：</label>
					</div>
					<div class="field">
						<textarea class="input" name="site_description"></textarea>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>联系人：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_username" value="" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>手机：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_phone" value="" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>电话：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_tel" value="" />
						<div class="tips"></div>
					</div>
				</div>

				<div class="form-group">
					<div class="label">
						<label>QQ：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_qq" value="" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group" style="display:none">
					<div class="label">
						<label>QQ群：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_qq_group" value="" />
						<div class="tips"></div>
					</div>
				</div>

				<div class="form-group">
					<div class="label">
						<label>Email：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="site_email" value="" />
						<div class="tips"></div>
					</div>
				</div>


				<div class="form-group">
					<div class="label">
						<label>底部信息：</label>
					</div>
					<div class="field">
						<textarea name="scopyright" class="input" style="height:120px;"></textarea>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<input class="button bg-main icon-check-square-o" type="submit" value="提交">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
<script src="__STATIC__/common/js/tool.js"></script>  
<script>
	$('.uploader_class').change(function(){
		uploader('logo','#logo_url','.uploader_img');

	})
</script>