{include file="public/header" /}
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong>
				<span class="icon-pencil-square-o"></span> 网站信息</strong>
		</div>
		<div class="body-content">
			<form method="post" class="form-x" action="{:url('document_add')}">
				<div class="form-group">
					<div class="label">
						<label>文章标题：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="title" value="" />
						<div class="tips"></div>
					</div>
				</div>
                <div class="form-group">
					<div class="label">
						<label>标签：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="label" value="" />
					</div>
                </div>
                <div class="form-group">
					<div class="label">
						<label>简介：</label>
					</div>
					<div class="field">
						<input type="text" class="input" name="profile" value="" />
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>内容：</label>
					</div>
					<div class="field">
                        <script id="container" name="content" type="text/plain">
                        </script>
					</div>
				</div>
			
			
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<input class="button bg-main icon-check-square-o" type="submit" value="提交">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
<script type="text/javascript" src="__STATIC__/admin/js/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/admin/js/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<script>

</script>