{include file="public/header" /}
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong>
				<span class="icon-pencil-square-o"></span> 文章管理</strong>
		</div>
		<div class="body-content">
			<form method="post" class="form-x" action="{:url('document_add')}">
                <table width="100%">
                 <tr>
                     <th>标题</th>
                     <th>简介</th>
                     <th>标签</th>
                     <th>发布时间</th>
                     <th>操作</th>
                 </tr>
                 <tr>
                     <td>3</td>
                     <td>2</td>
                     <td>1</td>
                 </tr>
                </table>
			
			
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<input class="button bg-main icon-check-square-o" type="submit" value="提交">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
<script type="text/javascript" src="__STATIC__/admin/js/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/admin/js/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<script>

</script>