<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$seo['title']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{$seo['keywords']}" />
    <meta name="description" content="{$seo['description']}" />
</head>
<!-- 首页 -->
<link rel="shortcut icon" href="/logo.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/plugin/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/about.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/article.css"/>

<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/article_detail.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/moodList.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/plugin/jquery.page.css">
<script type="text/javascript" src="__STATIC__/index/plugin/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/plugin/jquery.page.js"></script>
<body>
<div class="w_header">
    <div class="container">
        <div class="w_header_top">
            <a href="#" class="w_logo"></a>
            <span class="w_header_nav">
					<ul>
						<li><a href="/"   class="{if $action =='Index'}active{/if}">首页</a></li>
                        <li><a href="{:url('resources/index')}" class="{if $action =='Resources'}active{/if}" >资源文章</a></li>
                        <li><a href="{:url('comment/index')}"  class="{if $action =='Comment'}active{/if}">留言板</a></li>
						<li><a href="{:url('about/index')}"  class="{if $action =='About'}active{/if}">关于我们</a></li>
					</ul>
				</span>
            <div class="w_search">
                <div class="w_searchbox">
                    <input type="text" placeholder="search" />
                    <button>搜索</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();

    (function(){
    var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?977df40bacca7a07132142a5d034c5a0":"https://jspassport.ssl.qhimg.com/11.0.1.js?977df40bacca7a07132142a5d034c5a0";
    document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
