{include file="public/header" /}
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">

            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">资源下载</li>
                <span class="w_navbar_tip">我们长路漫漫，只因学无止境。</span>
            </ol>

            <div class="col-lg-9 col-md-9 w_main_left">
                <div class="panel panel-default">
                    <div class="panel-body contentList">
                        {if condition="$content_info"}
                        {volist name="content_info" id="contentinfo"   offset="0" length='6'}
                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="{$contentinfo->cover_img}" alt="...">
                                        </a>
                                    </div>

                                    <h4 class="media-heading">
                                        <a class="title" href="{:url('resources/resources_detail',['id'=>$contentinfo->id])}">{$contentinfo->title}</a>
                                    </h4>
                                    {php}
                                        $labels = explode(' ',$contentinfo->label);
                                    {/php}
                                    {foreach $labels as $lable}
                                        <a class="label label-default">{$lable}</a>
                                    {/foreach}
                                    <p class="w_list_overview overView" style="line-height: 2 !important;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;margin-bottom: 4px;"><?php echo strip_tags($contentinfo->content) ?></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">{$contentinfo->release_man}</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:{$contentinfo->click_num}</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:{$contentinfo->comments_count}</span><span class="count"><i class="glyphicon glyphicon-time"></i>{$contentinfo->release_time}</span></p>
                                </div>
                            </div>
                        </div>
                        {/volist}
                        <div class="page pageCon" id="page">
                            {$content_info->render()}
                        </div>
                        {/if}
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 w_main_right">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新发布</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled sidebar">
                            {volist name='content_info' id='contentinfos'}
                            <li>
                                <a href="{:url('resources/resources_detail',['id'=>$contentinfos->id])}">{$contentinfos->title}</a>
                            </li>
                            {/volist}

                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">友情链接</h3>
                    </div>
                    <div class="panel-body">
                        <div class="newContent">
                            <ul class="list-unstyled sidebar shiplink">
                                {volist name='href_info' id='hrefinfo'}
                                <li>
                                    <a href="{$hrefinfo->jump_url}" target="_blank">{$hrefinfo->name}</a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{include file="public/footer" /}